civo_api_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
civo_cluster_name="my-cluster"
civo_region="NYC1"
civo_cluster_applications="Traefik-v2-loadbalancer,-Traefik-v2-nodeport,cert-manager,loki-stack"
civo_cluster_nodes=3
civo_cluster_node_size=0